input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: Avenir Next;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 16px 30px;

    color: #000;
    font-size: 0.8em;
}

ul.topnav li a:hover {
    color: grey;
    text-decoration: underline;
}

ul.topnav li.right {
    float: right;
}

ul.bottomnav {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    border: 1px solid silver;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 450px) {
    ul.topnav {
        display: none;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav:focus {
    outline: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .closebtn:focus {
    outline: none;
}

div.sidenav i.icons {
    margin-right: 10px;
    width: 15px;
    font-size: 1.2em;
}

div.sidenav div.line_break {
    height: 1px;
    width: 100%;
    background-color: silver;
    margin: 10px 0px;
}

span.sidenav_icon {
    margin-left: 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 3000px) {
    .none {
        visibility: hidden;
    }
}

@media screen and (max-width: 450px) {
    .none {
        visibility: visible;
    }
}

ul.bottomnav li {
    float: left;
}

ul.bottomnav li a {
    text-decoration: none;
    text-align: center;
    color: grey;
    display: block;
    padding: 10px 18px;
    font-size: 0.8em;
}

ul.bottomnav div.right {
    float: right;
}

ul.bottomnav li a:hover,
ul.bottomnav div.right li a:hover {
    color: #000;
}

@media screen and (max-width: 420px) {
    ul.bottomnav li,
    ul.bottomnav div.right {
        float: none;
    }

    ul.bottomnav li {
        display: inline-block;
    }

    ul.bottomnav div.right {
        display: inline-block;
    }

    ul.bottomnav {
        text-align: center;
    }
}

.centered_logo {
    margin-top: 120px;
    text-align: center;
}

.search_bar {
    display: grid;
    justify-content: center;
    margin: auto;
}

input.text_box {
    width: 600px;
    height: 40px;
    border: 1px solid #f2f2f2;
    border-radius: 25px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    outline: none;
    margin: 20px 0px;
    background: url(images/icons8-search-96\ \(1\).png) no-repeat scroll 15px
        12px;
    background-size: 15px;
    padding-left: 40px;
}

@media screen and (max-width: 650px) {
    input.text_box {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    input.text_box {
        width: 350px;
    }
}

@media screen and (max-width: 350px) {
    input.text_box {
        width: 300px;
    }
}

@media screen and (max-width: 300px) {
    input.text_box {
        width: 250px;
    }
}

input.text_box:focus {
    outline: none;
}

input.text_box::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.centered_container {
    margin-top: 30px;
    text-align: center;
}

.google_button {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    width: 11em;
    background-color: #f5f4f5;
    color: grey;
    font-size: 0.8em;
    font-weight: 500;
}

.google_button:hover {
    color: #000;
    border: 1px solid silver;
}
